<!DOCTYPE html>
<html lang="en" ng-app="myModule">
<head>
	<meta charset="utf-8">
	<title>Angular Bootstrap</title>
	<link rel="stylesheet" type="text/css" href="bower_components/bootstrap/less/bootstrap.less">,
    <link rel="stylesheet" type="text/css" href="'bower_components/bootstrap/dist/js/bootstrap.js'">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap-css/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular/app.js"></script>
</head>
<body>
<!--Navigation-->
  <nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
      <img alt="Rate Media Bias" src="logo.png">
      </a>
    </div>
  </div>
</nav>
<!--Header-->
<div class="jumbotron">
  <div>
        <a href="#" target="_new"><i class="fa fa-newspaper-o fa-4x"></i></a>
  </div>
  <h1>Reference Guide For Media Bias</h1>
  <h4>What are you watching? What are you reading? What are you listening to? What are you sharing?</h4>
</div>

<div class="container">
    <div ng-controller="RatingDemoCtrl">

  <table>
    <tr>
      <th><h4>Media Outlet</h4></th>
      <th id="rate-header"><h4>Rate Bias from Democrat (Left) - Neutral (Middle) - Republician (Right). User Average Displayed on Right </h4></th>
    </tr>

    <tr>
      <td class="outlet">NBC</td>
      <td class="rating">
        <!-- <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="overStar = null" titles="titlesw" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1" style="font-size: 30px"></span>
        <span class="label" ng-class="{'label-info': percent<=48, 'label-danger': percent>=56 && percent<110, 'label-default': percent<=60}" ng-show="overStar && !isReadonly">Votes: {{selectedTitle}} (Average:{{percent}})</span> -->


        <span uib-rating ng-model="rate" max="max" read-only="isReadonly" on-hover="hoveringOver(value)" on-leave="selectedTitle = titlesw[rate-1];overStar=rate+1" titles="titlesw" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'" aria-labelledby="custom-icons-1" style="font-size: 30px"></span>      
        <span class="label" ng-class="{'label-info': overStar<neutralIndex,  'label-danger': overStar>=neutralIndex}" ng-show="overStar">Average:  {{selectedTitle}}</span>


        </td>
    </tr>
</table>

    </div>
</div>





<script type="text/javascript" src="'bower_components/jquery/dist/jquery.js'"></script>
</body>
</html>